@import "~semantic-ui-css/semantic.css";
@import "~leaflet/dist/leaflet.css";

*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Avenir", "Helvetica", sans-serif;
  font-weight: 300;
}

/* .leaflet-container {
  position: absolute;
  z-index: 0;
  height: 100vh;
}

i {
  color: white;
} */

/* .leaflet-control-container {
  position: absolute;
  z-index: 3;
  margin-left: 25rem;
}

.leaflet-pane,
.leaflet-map-pane {
  position: absolute;
  z-index: 2;
} */

.form {
  background-color: hsla(146, 36%, 33%, 0.8);
  border-radius: 0.2rem;
  color: #fff;
  width: 400px;
  max-height: calc(100vh);
  overflow: auto;
  padding: 2rem;
}

.big-cx {
  width: 1rem;
  height: 1rem;
  margin-top: 0rem;
}

.sliderBox {
  background-color: hsla(146, 36%, 33%, 0.6);
  margin: 3rem 0;
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: fit-content;
}
