*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;

  font-family: "Avenir", "Helvetica", sans-serif;
  font-weight: 400;
}

#root {
  position: relative;
  z-index: 0;
  height: 100vh;
  background-color: yellow;
}

.map {
  position: relative;
  z-index: 0;
}

.leaflet-control-container {
  position: relative;
  z-index: 3;
  margin-left: 25rem;
}

.leaflet-pane {
  position: relative;
  z-index: 2;
}

.greenForm {
  position: absolute;
  background-color: rgba(54, 115, 80, 0.7);
  z-index: 2;
  width: 23%;
  height: 100vh;
}

.big-cx {
  width: 1rem;
  height: 1rem;
  margin-top: 0rem;
}

/* #sliderBox {
  margin: auto;
  display: block;
  width: fit-content;
} */
