*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Avenir", "Helvetica", sans-serif;
  font-weight: 300;
}

/* paragraphs => */

p:first-child {
  margin: -1rem 0 0.6rem -0.8rem;
  font-family: "Avenir", "Helvetica", sans-serif;
  font-weight: 300;
}

#secondPf {
  margin: 0 0 0.6rem 0.1rem;
}

#thirdPf {
  margin: 0.3rem 0 0 -0.9rem;
}

#weeks {
  margin: -0.5rem 1rem 1rem 0;
  width: 8.5rem;
}

/* <= paragraphs */

.leaflet-control-container {
  position: absolute;
  margin-left: 0rem;
}

.form {
  border-radius: 0.2rem;
  color: #fff;
  max-height: calc(100vh);
  overflow: auto;
  padding: 1.5rem;
}

.big-cx {
  width: 1rem;
  height: 1rem;
  margin-top: 0rem;
}

.sliderBox {
  margin: 0.7rem 0 0 0.9rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  width: 19rem;
}

.mr-top {
  margin-top: 0.4rem;
}

#icon {
  width: 2.5rem;
}

/* below checkbox styles => */

#chxContainer {
  margin: 2.2rem 0rem 0 2rem;
}

/* <= checkbox styles end */

.MuiSlider-thumb {
  background-color: white;
}

.MuiSlider-root {
  color: white;
}

#button {
  color: #4d966d;
  cursor: pointer;
  min-height: 1rem;
  outline: 0;
  border: none;
  background: white;
  margin-top: 0;
  padding: 0.8rem 1.3rem;
  text-shadow: none;
  font-weight: 500;
  line-height: 0.5rem;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  float: right;
}

#button:hover {
  color: #367250;
  background: #e0e1e2;
}

#mls {
  padding: 0.55rem 1rem;
}

#searchIconBox {
  z-index: 400;
  background: hsla(146, 36%, 33%, 0.7);
  border-radius: 6px;
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 45px;
  left: 65px;
  margin-top: 4px;
  padding: 5px;
  box-shadow: 0 0 0 3px transparent, 0 0 0 0 rgba(34, 36, 38, 0.15);
}

#iconInBox {
  width: 3rem;
  margin: 0.7rem 0.4rem 0.6rem 0.8rem;
}

.form-btn {
  cursor: pointer;
  transition: all 0.5s ease-out;
}
