*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Avenir", "Helvetica", sans-serif;
  font-weight: 300;
}

/* categories + btn */

#subtn {
  margin-top: -2.5rem;
}

.cont-box {
  margin-top: 0.9rem;
}

#description-block {
  margin-top: 1.1rem;
}

p {
  margin: 1.3rem 0.5rem 0 0.5rem;
  font-family: "Avenir", "Helvetica", sans-serif;
  font-weight: 300;
}

.leaflet-control-container {
  margin-top: 0.5rem;
  position: absolute;
  margin-left: 0.1rem;
}

/* leaflet icons */

.red-fire {
  display: inline-block;
  background: url("https://api.iconify.design/noto:fire.svg") no-repeat center
    center / contain;
  vertical-align: -0.125em;
  background-repeat: no-repeat;
}

.volcano {
  display: inline-block;
  background: url("https://api.iconify.design/twemoji:volcano.svg") no-repeat
    center center / contain;
  vertical-align: -0.125em;
  background-repeat: no-repeat;
}

.ice {
  display: inline-block;
  background: url("https://api.iconify.design/noto:ice.svg") no-repeat center
    center / contain;
  vertical-align: -0.125em;
  background-repeat: no-repeat;
}

.storm {
  display: inline-block;
  background: url("https://api.iconify.design/noto:cyclone.svg") no-repeat
    center center / contain;
  vertical-align: -0.125em;
  background-repeat: no-repeat;
}

.other {
  display: inline-block;
  background: url("https://api.iconify.design/jam:periscope.svg?color=red")
    no-repeat center center / contain;
  vertical-align: -0.125em;
  background-repeat: no-repeat;
}

.form {
  border-radius: 0.2rem;
  color: white;
  max-height: calc(100vh);
  overflow: auto;
  padding: 1.5rem;
}

.big-cx {
  width: 1rem;
  height: 1rem;
  margin-top: 0rem;
}

.mr-top {
  margin-top: 0.6rem;
}

/* maxHeight: "calc(100vh - 3vw)" */

#icon {
  position: absolute;
  z-index: 600;
}

.search-icon #icon {
  display: block;
  font-size: 0;
  width: 3.3rem;
  height: 3.3rem;
  border: 0;
  opacity: 0.9;
  margin: 20px 0 0 20px;
  background: transparent;
  padding: 5px;
}

.search-icon #icon:hover {
  opacity: 1;
}

.button {
  float: right;
}

.icon-custom,
#icon {
  cursor: pointer;
}

.icon-custom {
  position: absolute;
  z-index: 500;
  font: normal 1em/1 Arial, sans-serif;
  display: inline-block;
  opacity: 0.9;
  transition: all 0.01s ease-out;
  margin: 0.3rem 0 0 -1rem;
}

.icon-custom:before {
  content: "\2715";
}

.icon-custom:hover {
  opacity: 1;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.link {
  color: white;
  margin: 0 0.2rem 0 0.5rem;
  border-bottom: 0.5px solid white;
}

.link:hover {
  color: orange;
  cursor: pointer;
  border-bottom: 1px solid orange;
}
