body {
  margin: 0px;
  padding: 0px;
}

form {
  margin: 2rem;
  font-family: "Avenir", "Helvetica", sans-serif;
  font-size: 1.2em;
  color: darkslateblue;
  margin-bottom: 1em;
}

.button {
  color: darkslateblue;
  border: none;
  font-size: 1rem;
  /* text-decoration: none; */
  position: relative;
  padding: 5px 10px;
  -webkit-box-shadow: 2px 2px 0 #666;
  -moz-box-shadow: 2px 2px 0 #666;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin: 0 10px 0 10px;
}

.button:hover {
  -webkit-box-shadow: 0px 0px 0 rgb(136, 135, 135);
  -moz-box-shadow: 0px 0px 0 rgb(158, 157, 157);
  top: 5px;
  left: 5px;
}
